main form, main section{
  font-size: 1.5rem;
}
form {
  width: 65%;
  margin: 30px auto 100px;
  background-color: #e3e0a3;
  color: #151515;
  padding: 15px;
}
fieldset{
    border: black 0.5px dashed;
    margin-bottom: 10px;
}
.caja {
  display:flex;
  gap:5px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

label {
  display: inline-block;
  font-size: 1.5rem;
}

input:invalid,textarea:invalid, select:invalid{
  border:solid 1px red
}
input:valid,textarea:valid, select:valid{
  border:solid 1px green
}
legend{
    font-weight: bold;
}
input,
textarea, select {
  display: inline-block;
  margin: 10px 0;
  font-size: 1.5rem;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #151515;
  background-color: #eeebbc;
}
textarea, #email{
    display:block;  
    width: 100%;
}
button {
  display: block;
  margin: 20px auto 0;
  width: fit-content;
  border: 3px black solid;
  color: #e3e0a3;
  background-color: #026b02;
  padding: 10px;
  font-size: 2rem;
}
button:hover {
  background-color: #002c00;
  cursor: pointer;
  color: #86845e;
}
.logo img {
  width: 7%;
  min-width: 50px;
  margin-left: 2%;
  vertical-align: middle;
}

@media (max-width:1000px) {
    form {
      width: 80%;
    }
}

@media (max-width:700px) {
  form {
      width: 90%;
    }
  main span {
    display: block;
    margin-bottom: 8px;
  }
}
@media (max-width:450px) {
    form {
      width: 80%;
    }
    input,
textarea, select {
  font-size: 1rem;
}
select{
  font-size: 0.8rem;
}
input, select{
  width:100%;
}
label {
  font-size: 1.2rem;
}
legend{
  font-size: 1.4rem;
}
}