main{
    font-size: 35px;
}
article{
    width: 60%;
    margin: 30px auto 100px;
    background-color: #e3e0a3;
    color: #151515;
    padding: 10px;
}
article h2{
    text-align: center;
}
.borde{
    border-top: 1px solid #151515;
    border-bottom: 1px solid #151515;
}
.boton{
    margin: 20px auto;
    width: fit-content;
    border: 3px black solid;
    color: #e3e0a3;
    background-color: rgb(1, 77, 1);
    padding: 10px;
}
.logo img{
    width: 7%;
    margin-left: 2%;
    vertical-align: middle;
}