main{
    color:#ded72d;
}
li{
    margin-top:15px;
}
h2, h3{
    font-size: 2.8rem;
    color: #6eab25;
    text-transform: uppercase;
}
h3{
    font-size: 1.6rem;
}
.premios, h2{
    text-align: center;
}
.subpremios {
    font-size: 1.37rem;
    text-align: left;
}

article img {
    width: 25%;
}
.barraabajo {
    border-bottom: dotted 6px rgb(1, 77, 1);
}
.impactotexto{
    font-size: 1.56rem;
}
ul li {
    font-size: 1.25rem;
}

li span{
    text-decoration: underline solid 1px ;
    font-size: 1.38rem;
    font-weight: 600;
}