main{
    color:#ded72d;
    text-align: center;
}
li{
    margin-top:15px;
}
h2, h3{
    font-size: 2.8rem;
    color: #6eab25;
    text-transform: uppercase;
}
h3{
    font-size: 1.6rem;
}
.subpremios {
    font-size: 1.37rem;
}

main img {
    width: 75%;
}
.impactotexto{
    font-size: 1.56rem;
}
li{
    font-size: 1.25rem;
}

li span{
    text-decoration: underline solid 1px ;
    font-size: 1.38rem;
    font-weight: 600;
}
main article, #premios {
    padding:10px;
    border:dotted 8px rgb(1, 77, 1);
    
}
.gridCuriosid{
    display:grid;
    grid-template-columns:2fr 2fr 2fr 3fr;
    grid-template-rows: 0.5fr 0.9fr 1fr;
    grid-template-areas:
    "premios premios premios datos"
    "oscar saturn bafta datos"
    "impacto impacto impacto datos"
     ;
}

#datos{
    grid-area: datos;
}
#premios{
    grid-area: premios;
    border-bottom: 0;
    border-right: 0;
}
#oscar, #saturn, #bafta {
    border-right:dashed 1.5px rgb(1, 77, 1);
    border-top:dashed 1.5px rgb(1, 77, 1);
}
#oscar{
    grid-area: oscar;
    border-left: dotted 8px rgb(1, 77, 1);
}
#saturn{
    grid-area: saturn;
}
#bafta{
    grid-area: bafta;
    border-right:0;
}
#impacto{
    grid-area: impacto;
    border-right:0;
}
#oscar, #saturn, #bafta{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding: 5px;
}

@media (max-width:1000px) {
.gridCuriosid{
    display:flex;
    flex-wrap: wrap;
}
main article, main section, #premios, #bafta, #saturn, #oscar {
    border:dashed 1.5px rgb(1, 77, 1);
}
h2{
    font-size: 2.2rem;
}
h3 {
    font-size: 1.6rem;
}
.impactotexto{
    font-size: 1.2rem;
}
li{
    font-size: 1rem;
    span {
        font-size: 1.1rem;
    }
}
.subpremios{
    font-size: 1.1rem;
}
}

@media (max-width:700px) {
    main article, #premios {
        padding: 3px;
    }
    h2{
        font-size: 1.7rem;
    }
    ol, ul{
        padding-left: 25px;
    }
}
@media (max-width:400px){
    h1{
        font-size: 1rem;
    }
    h2 {
        font-size: 1rem;
    }
}