main{
    color:#ded72d;
}
li{
    margin-top:15px;
}
h2, h3{
    font-size: 45px;
    color: #6eab25;
    text-transform: uppercase;
}
h3{
    font-size: 26px;
}
.premios, h2{
    text-align: center;
}
.subpremios {
    font-size: 22px;
    text-align: left;
}

article img {
    width: 25%;
}
.barraabajo {
    border-bottom: dotted 6px rgb(1, 77, 1);
}
.impactotexto{
    font-size: 25px;
}
ul li {
    font-size: 20px;}

li span{
    text-decoration: underline solid 1px ;
    font-size: 22px;
    font-weight: 600;
}