/*general*/
/*paleta colores
#e3e0a3  #ded72d  #014d01  #2fff2f  shadow
#6eab25  #3d933c  #151515
*/

*{
    box-sizing: border-box;
    
}
body{
    background-color: black;
    margin: 0;
    display:flex;
    flex-direction: column;
}
header, main, footer{
    color: #e3e0a3;
    font-family: 'homepagebaukastenbook';
    padding: 10px 20px 20px;
}
main{
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    font-family: 'homepagebaukastenbold';
    letter-spacing: 4px;
}
h3{
    font-family: 'homepagebaukastenbold';
    letter-spacing: 2px;
}

/*header*/
header{
    position:sticky;
    top:0;
    border-bottom:#014d01 3px solid;
    background-color: black;
    padding-bottom: 0;
    padding-top: 0;
}
nav {
    padding: 10px 20px 0;
    display:flex;
    align-items: center;
    gap:15px;
    justify-content: space-between;
    margin-left: 25px;
}
nav a {
    padding: 10px 20px;
    font-size: 1.56rem;
    text-decoration: none;
    text-shadow: 0 -0.093rem 0.07rem #2fff2f;
    color: #014d01;
    border-right: #014d01 3px solid;
}
nav .derecha a:hover {
    color:#002500;
    background-color: rgb(24, 24, 24);
}
.home {
    padding:0;
    width: 8%;
    min-width: 60px;
}
nav a img {
    padding: 0;
    width: 100%;
    min-width: 60px;
    overflow: visible;
}
.home, .contacto {
    border-right: 0;
}
h1 {
    color: #e3e0a3;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 2rem;
    text-transform:uppercase;
    text-shadow: 0 -1px 11px #2fff2f;
    font-family: 'alien_resurrectionregular';
    letter-spacing: 6px;
}
/*footer*/
footer {
    background-color: #014d01;
    text-align: center;
}
footer img {
    width: 70%;
    display: inline-block;
    margin-bottom: 10px;
}
footer p {
    text-align: right;
    font-size: 0.81rem;
    color: black;
    margin-bottom: 25px;
}
.volver{
  display: block;
  margin: 20px auto 0;
  width: fit-content;
  border: 3px black solid;
  color: #e3e0a3;
  background-color: #018101;
  padding: 10px;
  font-size: 1.3rem;
}
.volver:hover {
  background-color: #002c00;
  cursor: pointer;
  color: #86845e;
}
footer a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #e3e0a3;
}

/*index*/


.poster figure{
    display: block;
    text-align: center;
    font-size: 1.1rem;
}
.poster img {
    width: 25%;
    min-width: 350px;
    border: solid 1px rgb(32, 32, 32);
}
.poster figcaption{
    margin-top: 2%;
}

/*reparto*/

main.mainReparto{
    background-image: url(../imagenes/reparto/background2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}
.reparto {
    text-align: center;
    border: solid 5px #3d933c;
    width: 30%;
    margin:35px auto;
    border-radius: 50px 0 50px 0;
    padding: 20px;
    font-size: 1.25rem;
    background-color: #e3e0a398;
    color: #0f240f;
    text-shadow: 0 0px 1px #2fff2f;
    min-width: 310px;
    font-weight: 600;
}
.reparto h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    color: #151515;
}
.reparto img{
    width: 80%;
    border: solid 1.5px #3d933c;
}
.tarjetas {
    display:flex;
    flex-wrap: wrap;
    gap:10px
}

/*about*/
.about iframe {
    display:block;
    margin:5% auto;
}
.about .caja {
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.alien{
    width:35%;
}
.about h2 {
    font-size: 2.12rem;
    color:#3d933c;
    border-top: 3px dotted #3d933c;
    padding: 25px 0 0;
    text-transform: uppercase;
}
.tecnicos{
    border-top: 0;
    text-align: center
}
.universo h3 {
    font-size: 1.56rem;
    color:#3d933c;
}
.about li,.about p{
    color:#6eab25;
}
.about p {
    font-size: 1.25rem;    
}
.about li {
    margin-bottom: 8px;
}
.cronologia{
    width: 30%;

}
.predator{
    width: 25%;
    margin:0 2%;
}
.alien, .cronologia, .predator{
    border: solid 1px rgb(32, 32, 32);
}

/*confirmacion*/
.confirmacion{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.confirmacion section{
    text-align: center;
    margin-top: 10%;
}
.confirmacion img{
    display: inline-block;
    width: 10%;
    min-width: 100px;
    margin-bottom: 3%;
}
.confirmacion .texto
{
    background-color: #014d01;
    width: fit-content;
    font-size: 1.5rem;
    padding: 1rem;
    margin: auto;    
}

/*404*/
.error{
    text-align: center;
}
.error p {
    font-size: 1.5rem;
}
.error img{
    width: 25%;
    margin-top:10%;
}


@media (max-width:1300px) {
    main {
        padding-left: 5%;
        padding-right: 5%;
    }
    nav a {
        padding: 5px 10px;
    font-size: 1.2rem;
    }
}


@media (max-width:1000px) {
    header, main, footer{
    padding: 5px 10px 10px;
    }
    main {
        padding-left: 3%;
        padding-right: 3%;
    }
    h1 {
    font-size: 1.5rem;
    }
    /*reparto*/
    .reparto {
    
    width: 45%;
    margin:10px auto;
    padding: 10px;
    font-size: 1rem;
    min-width: 250px;
    }
    .reparto h2{
    font-size: 2rem;
    }
    .reparto img{
       width: 80%;
    }
    /*404*/
    .error img {
        width: 40%;
    }
         /*confirmacion*/
    .confirmacion img{
        width: 30%;
    }
}


@media (max-width:700px) {
    /*general*/
    header, main, footer{
    padding: 3px 6px 6px;
    }
    main {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    h1 {
    font-size: 1.2rem;
    }
    footer img {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0;
    }
    footer p {
    margin-top: 10px;
    margin-bottom: 5px;
    }
    .volver{
    margin: 10px auto 0;
    }
    /*index*/
    .poster img {
    width: 80%;
    min-width: 100px;
    border: solid 1px rgb(32, 32, 32);
    }
    
    /*about*/
    main iframe{
        width: 80%;
        height: auto;
    }
    .about .caja {
        flex-direction: column;
    }
    .about .inversa {
        flex-direction: column-reverse;
    }

    .alien, .cronologia, .predator{
        width: 70%;
    }
        /*reparto*/
    .reparto { 
    width: 80%;
    padding: 8px;
    min-width: 250px;
    }
    .reparto h2{
    font-size: 1.7rem;
    }
    .reparto img{
       width: 80%;
    }
        /*404*/
    .error img {
        width: 75%;
    }
    .error p {
        font-size: 1.2rem;
    }
        /*confirmacion*/
    .confirmacion img{
        width: 40%;
    }
}