/*general*/
/*paleta colores
#e3e0a3  #ded72d  #014d01  #2fff2f  shadow
#6eab25  #3d933c  #151515
*/

*{
    box-sizing: border-box;
    
}
body{
    background-color: black;
    margin: 0;
}
header, main, footer{
    color: #e3e0a3;
    font-family: 'homepagebaukastenbook';
    padding: 10px 20px 20px;
}
main{
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    font-family: 'homepagebaukastenbold';
    letter-spacing: 4px;
}
h3{
    font-family: 'homepagebaukastenbold';
    letter-spacing: 2px;
}

/*header*/
header{
    position:sticky;
    top:0;
    border-bottom:#014d01 3px solid;
    background-color: black;
    padding-bottom: 0;
    padding-top: 0;
}
nav {
    padding: 10px 20px 0;
    display:flex;
    align-items: center;
    gap:15px;
    justify-content: space-between;
    margin-left: 25px;
}
nav a {
    padding: 10px 20px;
    font-size: 1.56rem;
    text-decoration: none;
    text-shadow: 0 -0.093rem 0.07rem #2fff2f;
    color: #014d01;
    border-right: #014d01 3px solid;
}
.home {
    padding:0;
    width: 8%;
    min-width: 60px;
}
nav a img {
    padding: 0;
    width: 100%;
    min-width: 60px;
    overflow: visible;
}
.home, .contacto {
    border-right: 0;
}
h1 {
    color: #e3e0a3;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 3.13rem;
    text-transform:uppercase;
    text-shadow: 0 -1px 11px #2fff2f;
    font-family: 'alien_resurrectionregular';
    letter-spacing: 6px;
}
/*footer*/
footer {
    background-color: #014d01;
    height: 400px;
    text-align: center;
}
footer img {
    width: 70%;
    display: inline-block;
}
footer p {
    text-align: right;
    font-size: 0.81rem;
    color: black;
    margin-bottom: 25px;
}
.volver{
    width: fit-content;
    padding: 13px;
    border: 2px solid rgb(0, 39, 0);
    background-color:#6eab25;
}
footer a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #e3e0a3;
}

/*index*/


.poster{
    display: block;
    text-align: center;
    font-size: 1.56rem;
}
.poster img {
    width: 25%;
    min-width: 350px;
    border: solid 1px rgb(32, 32, 32);
}
.poster figcaption{
    margin-top: 2%;
}

/*reparto*/

main.mainReparto{
    background-image: url(../imagenes/reparto/background2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}
.reparto {
    text-align: center;
    border: solid 5px #3d933c;
    width: 30%;
    margin:35px auto;
    border-radius: 50px 0 50px 0;
    padding: 30px;
    font-size: 1.25rem;
    background-color: #e3e0a398;
    color: #0f240f;
    text-shadow: 0 0px 1px #2fff2f;
    min-width: 310px;
    font-weight: 600;
}
.reparto h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    color: #151515;
}
.reparto img{
    width: 60%;
    border: solid 1.5px #3d933c;
}
.tarjetas {
    display:flex;
    flex-wrap: wrap;
    gap:10px
}

/*about*/

.alien{
    display:block;
    margin: auto;
    width:35%;
}
.about h2 {
    font-size: 2.12rem;
    color:#3d933c;
    border-top: 3px dotted #3d933c;
    padding: 25px 0 0;
    text-transform: uppercase;
}
.tecnicos{
    border-top: 0;
    text-align: center
}
.universo h3 {
    font-size: 1.56rem;
    color:#3d933c;
}
.about li,.about p{
    color:#6eab25;
}
.about p {
    font-size: 1.25rem;    
}
.about li {
    margin-bottom: 8px;
}
.cronologia{
    width: 30%;
    display: block;
    margin: auto;
}
.predator{
    width: 25%;
    margin:auto 5%;
}
.centrar{
    text-align: center;
}
.alien, .cronologia, .predator{
    border: solid 1px rgb(32, 32, 32);
}

/*confirmacion*/
.confirmacion{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:700px;

}
.confirmacion section{
    text-align: center;
}
.confirmacion img{
    display: inline-block;
    width: 15%;
    min-width: 100px;
    margin-bottom: 3%;
}
.confirmacion .texto
{
    background-color: #014d01;
    width: fit-content;
    font-size: 2rem;
    padding: 1rem;
    margin: auto;    
}