main {
    text-align: center;
}
h2{
    font-size: 35px;
    text-decoration: underline solid 1px;
}
h3 {
    font-size: 30px;
}
main p, .textoRodaje{
    font-size: 20px;
}
.produccion img {
    width: 35%;
}
.rodaje img{
    height: 400px;
    margin-right: 19px;
}
