main {
    text-align: center;
}
h2,h3{
    color:#fff64e;
}
h2{
    font-size: 2.19rem;
    text-decoration: underline solid 1px;
}
h3 {
    font-size: 1.88rem;
}
main p, .textoRodaje{
    font-size: 1.25rem;
}
.produccion img {
    width: 35%;
}

main div{
    display:flex;
}
.fotos {
    figure{
        margin: 0;
        width:33%;
        padding:5px;
    }
    figcaption{
        margin: 10px 0;
    }
    img {
        width: 40%;
    }
}
.hover{
    margin:0;
    width: 50%;
    padding: 5px;
}
.rodaje .hover {
    justify-self: center;
}
.ocultar {
    opacity: 0;
    font-size:0rem;
    color: black;
    transition: opacity 1.5s ease;
    transition:font-size 2.5s ease;
    transition: color 2s ease-in-out;
}
.hover img {
    transition: width 1.5s ease;
}
.hover:hover{
    
    .ocultar{
        font-size: 1.25rem;
        opacity: 1;
        color: #e3e0a3;    
    };
    img {
        width: 100%; 
    }
}

@media (max-width:1000px) {
    h2{
    font-size: 1.8rem;
    text-decoration: underline solid 1px;
}
h3 {
    font-size: 1.4rem;
}
main p, .textoRodaje{
    font-size: 1.1rem;
}
.ocultar{
    font-size: 0px;
}
.produccion img {
    width: 50%;
}
.rodaje img {
    width: 80%;
}
.fotos img {
    width: 60%
}
}
@media (max-width:700px) {
    h2{
    font-size: 1.7rem;
    text-decoration: underline solid 1px;
}
h3 {
    font-size: 1.3rem;
}
main p, .textoRodaje{
    font-size: 1rem;
}
.ocultar{
    font-size: 1rem;
        opacity: 1;
        color: #e3e0a3;    
}
figcaption {
    font-size: 0.8rem;
}
.hover img {
    width: 100%;
}
main div {
    display:block;
    width: 100%;
}
figure, .hover, .fotos .hover {
    width: 90%;
    margin: auto;
}
.hover:hover{
    
    .ocultar{
        font-size: 1rem;
}}
}