main {
    text-align: center;
}
h2,h3{
    color:#fff64e;
}
h2{
    font-size: 2.19rem;
    text-decoration: underline solid 1px;
}
h3 {
    font-size: 1.88rem;
}
main p, .textoRodaje{
    font-size: 1.25rem;
}
.produccion img {
    width: 35%;
}
.rodaje img{
    height: 400px;
    margin-right: 19px;
    margin-bottom: 10px;
}
